.js-chat-container{
  max-width:600px;
  margin-left:auto;
  margin-right:auto;

  height:100vh;
  display:flex;
  flex-direction:column;
}


.js-chat-sidebar{
  position:fixed;
  top:0;
  left:0;

  width:220px;
  height:100vh;
  padding:20px;

  display:flex;
  flex-direction:column;
}

#welcome .js-msg-text{
  background-color: white;
  color: rgb(127, 126, 126);
  font-size: 16px;
  max-width: 600px;
}


