.js-send-btn{
  background-color: #111827;
  color:white;
  padding:12px 20px;
  margin-left:10px;
  border:none;
  border-radius: 10px;
  font-size:15px;
  cursor:pointer;
}

.js-input{
  padding:12px 15px;
  border-radius:10px;
  border-width:1px;
  font-size:15px;

  flex-grow:1;
}

.js-chat-input{
  display:flex;

  margin-bottom:30px
}